<!-- For initial view of all events : The Home Page  -->
<div id="home"  ng-controller="pagesControl">
  <!-- Search Bar Division -->
		<div class="header">
			<div class="search-bar">
            <form>
            <div class="input-wrapper">
              <input type="text" class="form-control" placeholder="Search..." ng-model="query">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
			</div>
      <!-- repeated div for every event details -->
		<div class="home_box container" ng-if="events">
			<div ng-repeat='event in events| filter:query'  class="block1 col-md-3 col-md-offset-1">
				<a ng-href="#!/event/{{event.id}}">
				<div><img class="image" src="http://www.roha-bremen.com/typo3conf/ext/auw_viewhelper/Resources/Public/Img/placeholder.png" width="100%" height="40%" alt="..."></div>
				<div id="post">
					<div class="editevent">
						<div class="info">
							<div id="Eventname"><h4>{{event.title}}</h4></div>
							<h5>{{event.date}}</h5>
						</div>
						<div id="price"><h5>₹{{event.price}}</h5></div>
					</div>
					<div class="organizer">Event Host : {{event.organiser}}</div>
				</div>
				</a>
			</div>
		</div>
    <!-- div for error handling -->
    <div ng-hide="events">
	      <div class="error">
	        <img src="https://ih1.redbubble.net/image.101121317.0149/flat,800x800,070,f.u2.jpg" width="22%" height="30%">
	        <h1>404 Page Not Found</h1>
	        <h4>This is not webpage you are looking for</h4>
	      </div>
	  </div>
    <!-- pagination div -->
		<div>
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#!/pages/1">1</a></li>
				<li><a href="#!/pages/2">2</a></li>
        <li><a href="#!/pages/3">3</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	</div>
