<div id="event" ng-controller="eventControl">
  <div class="row" ng-if="eventDetails.title">
      <div id="singleEvent" class="container col-md-8" >
        <div><img class="image" src="http://www.roha-bremen.com/typo3conf/ext/auw_viewhelper/Resources/Public/Img/placeholder.png" width="100%" height="300px" alt="..."></div>
        <div class="info">
          <div id="blue"></div>
          <div class="details"><div id="title">{{eventDetails.title}}</div>
          <div>{{eventDetails.date}}</div><br>
          <div>{{eventDetails.organiser}}</div></div>
          <div class="rs">₹ {{eventDetails.price}}</div>
        </div>
        <div class="panel-footer">
              <div class="media make_comment">
                <div id="write">Write a Comment</div>
                <div class="media-left">
                  <a href="#">
                    <!-- <img class="media-object" src="images/eeshani.jpg" alt="..."width="32px" height="32px"> -->
                  </a>
                </div>
                <div class="media-body">
                  <form name="rev">
                    <div class="form-group">
                        <input class="form-control" required="" required name="comment" ng-model="user.comment" placeholder="Write a comment..." style="width:100%;">
                        <a href= "#!/event/{{eventDetails.id}}">
                          <button type="submit" class="btn btn-primary" ng-disabled="rev.$invalid" ng-click="comment()">Comment</button>
                        </a>
                      </div>
                    </form>
                </div>
              </div>
              <div id="comm" ng-repeat="comment in comments" class="media" ng-if="comments">               <!--Comments sections started-->
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="http://www.zustonline.com/images/profile_pic.png" width="32px" height="32px" alt="...">
                  </a>
                </div>
                  <div class="media-body">
                      <p  class="comment"><span class="media-heading" style="font-weight:bold;">
                        <a href="#">&nbsp&nbsp&nbsp{{comment.id}} .&nbsp </a></span> {{comment.body}}
                      </p>

                      </div>
                  </div>

              </div>
            </div>
    <div class="col-md-4">
      <div class="list-group">
          <div class="list-group-item">
            <h3 class="list-group-item-heading">Latest Events</h3>
          </div>
          <a href="#!/event/7" class="list-group-item ">
            <h4 class="list-group-item-heading">Event 9</h4>
          </a>
          <a href="#!/event/4" class="list-group-item">
            <h4 class="list-group-item-heading">Event Title 4</h4>
          </a>
          <a href="#!/event/9" class="list-group-item">
            <h4 class="list-group-item-heading">Event 7</h4>
          </a>
          <a href="#!/event/5" class="list-group-item ">
            <h4 class="list-group-item-heading">Event Title 5</h4>
          </a>
          <a href="#!/event/6" class="list-group-item ">
            <h4 class="list-group-item-heading">Event begins</h4>
          </a>
        </div>
    </div>
  </div>
  <div ng-hide="eventDetails.title">
      <div class="error">
        <img src="https://ih1.redbubble.net/image.101121317.0149/flat,800x800,070,f.u2.jpg" width="22%" height="30%">
        <h1>404 Page Not Found</h1>
        <h4>This is not webpage you are looking for</h4>
      </div>
  </div>
</div>
