<div id="event" ng-controller="eventControl">
  <div class="row" ng-if="eventDetails.title">
      <div id="singleEvent" class="container col-md-8" >
        <div><img class="image" src="http://www.roha-bremen.com/typo3conf/ext/auw_viewhelper/Resources/Public/Img/placeholder.png" width="100%" height="300px" alt="..."></div>
        <div class="info">
          <div id="blue"></div>
          <div class="details"><div id="title">{{eventDetails.title}}</div>
          <div>{{eventDetails.date}}</div><br>
          <div>{{eventDetails.organiser}}</div></div>
          <div class="rs">₹ {{eventDetails.price}}</div>
        </div>
        <div class="panel-footer">
              <div class="media make_comment">
                <div id="write">Write a Comment</div>
                <div class="media-left">
                  <a href="#">
                    <!-- <img class="media-object" src="images/eeshani.jpg" alt="..."width="32px" height="32px"> -->
                  </a>
                </div>
                <div class="media-body">
                      <input placeholder="Write a comment..." style="width:100%;">
                      <button type="submit" class="btn btn-primary" ng-click="comment()">Comment</button>
                </div>
              </div>
              <div id="comm" ng-repeat="comment in comments" class="media" ng-if="comments">               <!--Comments sections started-->
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="http://www.zustonline.com/images/profile_pic.png" width="32px" height="32px" alt="...">
                  </a>
                </div>
                  <div class="media-body">
                      <p  class="comment"><span class="media-heading" style="font-weight:bold;">
                        <a href="#">{{comment.id}} . </a></span>{{comment.body}}
                      </p>

                      </div>
                  </div>

              </div>
            </div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div></div>
</div>
